/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color: white;
  --background: #1C1916;
  --palette-black: #1C1916;
  --palette-dark-gray: #312928;
  --palette-red: #DE2002;
  --font-heading: 'forgot', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-body: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
  font-family: 'forgot';
  src: url('./fonts/ForgottenFuturist.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'forgot';
  src: url('./fonts/ForgottenFuturist-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'forgot';
  src: url('./fonts/ForgottenFuturist-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'forgot';
  src: url('./fonts/ForgottenFuturist-BoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
html, body {
  scroll-padding-top: 127px;
  scroll-behavior: smooth;
}

@media (min-width: 1024px) {
  html, body {
    scroll-padding-top: 130px;
  }
}
body {
  min-height: 100vh;
  line-height: 1.8;
  font-family: var(--font-body);
  font-size: 16px;
  color: var(--color);
  text-rendering: optimizeLegibility;
  background: var(--background) url('./images/background.jpg') no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  transition: color 0.5s, background-color 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: var(--color);
}
.link,
.btn {
  display: grid;
  grid-auto-flow: column dense;
  grid-auto-columns: auto;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  line-height: 1.3;
  transition: color .2s ease-out;
}
.link:hover,
.link:focus {
  color: var(--palette-red);
}
h1 {
  font-family: var(--font-heading);
  font-weight: 600;
}
.btn {
  cursor: pointer;
  position: relative;
  justify-content: center;
  padding: 10px 20px;
  font-family: var(--font-heading);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--palette-dark-gray);
  /* overflow: hidden; */
  border: 0;
  border-radius: 2px;
  background: var(--color);
}
.btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--palette-red);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .2s ease-out;
}
.btn:hover,
.btn:focus {
  color: var(--palette-red);
}
.btn:hover::after {
  transform: scaleX(1);
}
.btn--disabled {
  cursor: not-allowed;
  background: transparent;
  color: var(--palette-dark-gray) !important;
  z-index: 1;
}
.btn--disabled::after {
  height: 100%;
  transform: none;
  opacity: 0.5;

  background: white;
  z-index: -1;
}
